.post-count {
  padding: 0;
  display: flex;
  align-items: center;
  margin: 24px 0;
}

.post-count__label {
  margin: 0 16px 0 0 !important;
}

.post-count__label:last-child {
  margin-right: 0 !important;
}

@media screen and (min-width: 1024px) {
  .post-count {
    padding: 0 16px;
  }
}

@media screen and (max-width: 413px) {
  .post-count .tag:first-child {
    border-radius: 4px 4px 4px 0 !important;
  }
  .post-count .tag:last-child {
    border-radius: 0 0 4px 4px !important;
  }
}