* {
  transition-property: background-color, border-color, fill !important;
  transition-duration: 0.2s !important;
  transition-timing-function: ease !important;
}

input:focus,
input:focus-within {
  box-shadow: none !important;
}

.root-box {
  padding: 24px;
}

@media screen and (min-width: 1024px) {
  .root-box {
    padding: 0;
  }
}


@media screen and (max-width: 1023px) {
  .root-box__box {
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
  }
}