.nav-panel {
  padding: 0 24px;
  margin-bottom: 32px;
}

.nav-panel__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.nav-panel__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-panel__row {
  align-items: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-panel__row:first-child {
  margin-bottom: 24px;
}

.nav-panel__radio {
  margin-right: 20px !important;
}

.nav-panel__add-button {
  padding-left: 32px;
  padding-right: 32px;
}

.nav-panel__form {
  margin: 0 0 24px 0 !important;
}

.nav-panel__add-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media screen and (min-width: 1024px) {
  .nav-panel__nav {
    flex-direction: row;
  }
  .nav-panel {
    padding: 0;
  }
  .nav-panel__row:first-child {
    margin-bottom: 0;
  }
  .nav-panel__row {
    justify-content: flex-start;
    width: auto;
  }
  .nav-panel__inner {
    flex-direction: row;
    width: auto;
    align-items: center;
  }
  .nav-panel__add-box {
    flex-direction: row;
  }
  .nav-panel__form {
    flex: 1 1;
    margin: 0 16px 0 0 !important;
  }
}